@model IEnumerable<Estoquei.Models.EntradaESaida>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeMovimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoMovimentacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataMovimentacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.NomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeMovimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoMovimentacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataMovimentacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
